@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root{
    --gray: #757575;
    --orange: #faa306;
    --gray-dark: #1c1c1e;
    --orange-dark: #332002;

}

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: 'roboto', sans-serif;
}

body{
    background-color: black;
}

.main-app{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.circle{
    display: flex;
    width: 70vw;
    height: 70vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:350px;
    height: 350px;
    border-radius: 50%;
    border: 4px solid var(--orange);
    display: flex;

}
#watch-time{
    font-size: 70px;
    color:aliceblue;
}

.elementos{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.botao{
    display: flex;
    box-sizing: border-box;
    display: inline;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}
button{
    display: inline;
    width: 200px;
    height: 200px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    background-color: #1c1c1e;
    border-color:#757575;
    color: white;
    font-weight: 900;
}